.h-100 {
  height: 100% !important;
}

.bg-light {
  background-color: #f8f9fa !important;
}

.invalid-tooltip {
  display: block;
  width: 100%;
  margin-top: 0.25rem;
  font-size: 0.875em;
  color: #dc3545;
}

.rounded-circle {
  border-radius: 50% !important;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}


.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.h-25 {
  height: 25% !important;
}

.text-muted {
  color: #6c757d !important;
}